<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link do CSS -->
    <link rel="stylesheet" a href="css/cad-inicial.css">

    <!-- Link dos ícones -->
    <script src="https://kit.fontawesome.com/db9bc09a1d.js" crossorigin="anonymous"></script>


    <!-- Simple Notify -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify/dist/simple-notify.min.js"></script>
    <script src="js/notify-script.js"></script><!--JS do Simple Notify criado por mim-->

    


    <title>Identificacao</title>
    <!-- Cadstro inicial do paciente - nome, CPF etc -->
</head>

<body>

    <!-- EJS para as mensagens de erro + quebra de linha + simple Notify -->


    <% 
    let msgErro="";
    let avisoErro = {"nome":"", "cpf":"", "dt_nasc":""};
    if(erros){
        erros.errors.forEach(function(itemErro){

            if(itemErro.path == "nome"){
                avisoErro.nome = "erro";
                msgErro += ` * ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "cpf"){
                avisoErro.cpf = "erro";
                msgErro += ` * ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "dt_nasc"){
                avisoErro.dt_nasc = "erro";
                msgErro += ` * ${itemErro.msg} <br>`;
            }
            
        })

    
    if(msgErro != ""){
        %>

        <script>
            let msgErro ="<%= msgErro %>"
            showNotify("Erro(s) no preenchimento" , "Verifique o(s) campo(s) <br>" + msgErro.replace(/&lt;/g,"<"), "error", "center", 5000 )
        </script>

        <%
    }

    }

    if(dadosNotificacao){ %>
        <script>
            showNotify("<%= dadosNotificacao.titulo%>", "<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
            if("<%= dadosNotificacao.tipo %>" == "success"){
                setTimeout(function(){window.location="/"}, 3000)
            }
        </script>
    
    }

    <% } %>



    <!-- Container gerald a página -->

    <section class="container-geral">


        <!-- Bloco da direita colorido ou com imagem -->
        <section class="container container-direita">

            <!-- Botão de voltar -->
            <section class="container-titulo">
                <a href="/login-pac" class="bt-voltar">
                    <i class="fas fa-arrow-left"></i> <!-- Opção com Font Awesome -->
                    <!-- ou -->

                </a>


            </section>

            <section class="text">
                <h2 class="primary-title">Bem-vindo a InovaCare!</h2>
                <p>Gostaria de trabalhar conosco? Acesse a área do profissional</p>

                <button class="btn"><a href="/profissional/login-prof">Sou Profissional</a></button>
            </section>

        </section>



        <!-- Bloco da esquerda com o form de login -->
        <section class="container container-esquerda">

            <!-- Título e subtítulo da página -->
            <h2 class="primary-title">Cadastre-se no site</h2>
            <p class="sub-title">Dados iniciais</p>


            <!-- Formulário de login -->
            <section class="form-log">

                <form action="/cad-inicial-pac" method="post">

                    <!-- Bloco de formulário -->
                    <section class="container-label-form">

                        <!-- Label que abriga o input para o nome -->
                        <label for="nome" class="label-input">

                            <i class="fa-regular fa-user icon-modify" aria-hidden="true"></i>
                            <input type="text" placeholder="Nome completo" name="nome" id="nome" value="<%= valores.nome %>" class="<%= avisoErro.nome %>" required>
                        </label>

                    </section>


                    <!-- Bloco de formulário -->
                    <section class="container-label-form">

                        <!-- Label que abriga o input para o CPF -->
                        <label for="cpf" class="label-input">

                            <i class="fa-regular fa-id-card icon-modify" aria-hidden="true"></i>
                            <input type="text" placeholder="Digite seu CPF" name="cpf" id="cpf" value="<%= valores.cpf %>"  class="<%= avisoErro.cpf %>" required>

                        </label>

                    </section>


                    <!-- Bloco de formulário -->
                    <section class="container-label-form">

                        <!-- Label que abriga o input para a dt_nasc  -->
                        <label for="dt_nasc" class="label-input" >

                            <i class="fa-regular fa-calendar icon-modify" aria-hidden="true"></i>
                            <input type="text" placeholder="Data de nascimento" name="dt_nasc" id="dt_nasc" value="<%= valores.dt_nasc %>" class="<%= avisoErro.dt_nasc %>" required>

                        </label>

                    </section>


                    <section class="link-btn"> <!-- Esqueci a senha -->
                        <a class="mudar-senha" href="#">Já possui uma conta?</a>


                        <!-- Enviar form -->
                        <input type="submit" class="btn-confirmar" value="Entrar">

                    </section>

                </form>

            </section>


        </section>







    </section>

    <script src="js/mascara-form.js"></script>
    <!-- <script src="js/valida-data.js"></script> -->







</body>

</html>