<!DOCTYPE html>
<html lang="ept-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link do CSS -->
    <link rel="stylesheet" a href="../css/cad-final.css">

    <!-- Link dos ícones -->
    <script src="https://kit.fontawesome.com/db9bc09a1d.js" crossorigin="anonymous"></script>

    <!-- Cadastro do email e senha do profissional -->

    <!-- Simple Notify -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify/dist/simple-notify.min.js"></script>
    <script src="../js/notify-script.js"></script><!--JS do Simple Notify criado por mim-->


    <title>Dados profisisonal</title>
</head>

<body>

    <!-- EJS para as mensagens de erro + quebra de linha + simple Notify -->


    <% 
    let msgErro="";
    let avisoErro = {"email":"", "confirmaemail":"", "senha":"", "confirmasenha":""};
    if(erros){
        erros.errors.forEach(function(itemErro){

            if(itemErro.path == "email"){
                avisoErro.email = "erro";
                msgErro += ` * ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "confirmaemail"){
                avisoErro.confirmaemail = "erro";
                msgErro += ` * ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "senha"){
                avisoErro.senha = "erro";
                msgErro += ` * ${itemErro.msg} <br>`;
            }

            if(itemErro.path == "confirmasenha"){
                avisoErro.confirmasenha = "erro";
                msgErro += ` * ${itemErro.msg} <br>`;
            }
            
        })

    
    if(msgErro != ""){
        %>

        <script>
            let msgErro ="<%= msgErro %>"
            showNotify("Erro(s) no preenchimento" , "Verifique o(s) campo(s) <br>" + msgErro.replace(/&lt;/g,"<"), "error", "center", 5000 )
        </script>

        <%
    }

    }

    if(dadosNotificacao){ %>
        <script>
            showNotify("<%= dadosNotificacao.titulo%>", "<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
            if("<%= dadosNotificacao.tipo %>" == "success"){
                setTimeout(function(){window.location="/"}, 3000)
            }
        </script>
    
    }

    <% } %>





    <!-- Container gerald a página -->

    <section class="container-geral">


        <!-- Bloco da direita colorido ou com imagem -->
        <section class="container container-direita">

            <!-- Botão de voltar -->
            <section class="container-titulo">
                <a href="/profissional/cad-local-prof" class="bt-voltar">
                    <i class="fas fa-arrow-left"></i> <!-- Opção com Font Awesome -->
                    <!-- ou -->

                </a>


            </section>

            <section class="text">
                <h2 class="primary-title">Bem-vindo a área do profissional!</h2>
                <p>Na Inovacare, você faz suas regras de trabalho!</p>

                <button class="btn"><a href="/index">Área do paciente</a></button>
            </section>

        </section>



        <!-- Bloco da esquerda com o form de login -->
        <section class="container container-esquerda">

            <!-- Título e subtítulo da página -->
            <h2 class="primary-title">Últimos passos...</h2>




            <form action="/profissional/cad-dados-prof" method="post">

                <!-- Formulário de login -->
                <section class="form-log ">

                    <!-- Label que abriga o input para o email -->
                    <section class="container-dados">
                        <label for="email" class="label-input">

                            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
                            <input type="email" placeholder="E-mail" name="email" id="email" value="<%= valores.email %>" class="<%= avisoErro.email %>" required>
                        </label>
                    </section>


                    <!-- Label que abriga o input para o confirmaemail -->
                    <section class="container-dados">

                        <label for="confirmaemail" class="label-input">

                            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
                            <input type="email" placeholder="Confirme seu E-mail" name="confirmaemail"
                                id="confirmaemail" value="<%= valores.confirmaemail %>" class="<%= avisoErro.confirmaemail %>" required>
                        </label>
                    </section>



                    <section class="container-dados">

                        <!-- Bloco de formulário -->
                        <section class="container-label-form">

                            <!-- Label que abriga o input para a senha -->
                            <label for="senha" class="label-input">

                                <i class="fa-solid fa-lock" aria-hidden="true"></i>

                                <input type="password" placeholder="Senha" name="senha" id="senha" value="<%= valores.senha %> " class="<%= avisoErro.senha %>" required>

                                <!-- Ocultar ou mostrar a senha -->
                                <article class="oculta-senha-icon" onclick="mostrarSenha('senha', this)">
                                    <i class="fas fa-eye"></i>
                                </article>

                            </label>


                            <!-- Label que abriga o input para o confirmasenha -->
                            <label for="confirmasenha" class="label-input">

                                <i class="fa-solid fa-lock" aria-hidden="true"></i>

                                <input type="password" placeholder="Confirmar" name="confirmasenha" id="confirmasenha" value="<%= valores.confirmasenha %> " class="<%= avisoErro.confirmasenha %>"
                                    required>

                                <!-- Ocultar ou mostrar a senha -->
                                <article class="oculta-senha-icon" onclick="mostrarSenha('confirmasenha', this)">
                                    <i class="fas fa-eye"></i>
                                </article>

                            </label>

                        </section>


                        <!-- Mensagens de erro qure aparece a partir da interação do usuário com cada campo input - JS -->
                        <section class="container-erro-front">

                            <section class="mensagem-erro-front">
                                <p id="mensagem-email"></p>
                            </section>
                            <section class="mensagem-erro-front">
                                <p id="mensagem-senha-forte"></p>
                            </section>
                            <section class="mensagem-erro-front">
                                <p id="mensagem-confirma-senha"></p>
                            </section>
                        </section>


                    </section>

                    <!-- Enviar form -->
                    <section class="btn-local"><input type="submit" class="btn-confirmar" value="Entrar"></section>


            </form>


            <!-- JS com não pode copiar e colar + confirma email e senha + verifica Senha Forte -->
            <script src="../js/confirmasenha.js"></script>


        </section>



    </section>


</body>

</html>