<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cadastroAuxiliar.css">
    <link rel="stylesheet" href="/css/cadastroIN.css">
    <script src="js/validacao-login.js"></script>
    <title> InovaCare </title>
</head>
<body class="Singup">
    <%
    var cssErro = {"nome":"","cpf":"", "data":""}  
    var msgErro = {"nome":"","cpf":"", "data":""}
    if(erros) {

    erros.errors.forEach(function(itemErro){
        if (itemErro.path  == "nome"){ 
            cssErro.nome = "erro";
            msgErro.nome = itemErro.msg;
        }  
        if (itemErro.path  == "cpf"){
            cssErro.cpf = "erro";
            msgErro.cpf = itemErro.msg;                
        }  
        if (itemErro.path  == "data"){
            cssErro.data = "erro";
            msgErro.data = itemErro.msg;                
        } 
    }); 
    }; %>
    
    <section class="voltar">
        <a href="/singup">
            <img class="botao-voltar" src="imagens/seta-esquerda.png" alt="" srcset="">
        </a>
    </section>

    <form id="loginForm" class="loginForm" method="post" action="/cadastro_inicial_validacao">

    <div class="retang-2"></div>
    <header class="bem-vindo1"> Crie sua conta</header>

    <main class="faca-login1"> Preencha com suas informações </main>

    <img src="/imagens/fundo-singup.jpg" class="fundo-singup">
    <img src="/imagens/logo-singup.png" class="logo-singup">

        <label for="nome" class="Nome">Insira seu nome completo</label>
            <input type="text" id="nomed" placeholder="Nome" class="nomed" name="nome" value="<%= valores.nome %>" class="<%= cssErro.nome %>" required>
            <span class="spanerroNO"><%= msgErro.nome %></span>

        <label for="cpf" class="Cpf">Insira seu CPF</label>
            <input type="text" id="cpf" placeholder="CPF" class="cpfd" name="cpf" value="<%= valores.cpf %>" class="<%= cssErro.cpf %>" maxlenght= "11" required>
            <span class="spanerroC"><%= msgErro.cpf %></span>

        <label for="data" class="Data">Data de nascimento</label>
            <input type="date" id="data" placeholder="DD/MM/AAAA" class="datad" name="data" value="<%= valores.data %>" class="<%= cssErro.data %>" required>
            <span class="spanerroD"><%= msgErro.data %></span>

    <input type="submit" class="Entrar" id="enviar_login" value="Avançar ➜" >

</form>
<p class="msg-cadastre"><a id="cadastre1" class="cadastre1" href="/homepro.ejs">Sou Profissional</a></p>

<p class="msg-singup">A InovaCare é uma plataforma que oferece atendimento médico e terapêutico
    através das modalidades do atendimento online e domiciliar.
</p>
</body>
</html>
