<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo3.css"><!--Estilo geral e padrão-->
    <link rel="stylesheet" href="css/cad_column.css"><!--Colunas uma do lado da outra -- class row-->
   
    <script src="https://kit.fontawesome.com/db9bc09a1d.js" crossorigin="anonymous"></script><!--Acesso aos ícones-->

     
   
    <title>Cadastro0 2</title>
</head>
<body>
 
    <!--Bloco EJS Mensagemd e erro-->
    <%
    let  erroValidacao =  {"email":"", "senha":"", "repsenha":"", "repemail":""};
    let  msgErro =  {"email":"", "senha":"","repsenha":"", "repemail":""};
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErro.email = erro.msg
            }
            if (erro.path == "senha") {
                erroValidacao.senha = "erro",
                msgErro.senha = erro.msg
            }
            if (erro.path == "repsenha") {
                erroValidacao.repsenha = "erro",
                msgErro.repsenha = erro.msg
            }
            if (erro.path == "repemail") {
                erroValidacao.repemail = "erro",
                msgErro.repemail = erro.msg
            }
        })
    }; %>
 
    <!--Fim do bloco EJS-->
 
    <section class="container"><!--Container geral -->
 
 
        <section class="content first-content"> <!--Primeiro container- aparição inical para login-->
 
            <section class="first-column"><!-- Coluna da esquerda-- Descrição últimos passos-->
 
                <h2 class="title title-primary">Últimos passos...</h2>
                <p class="descricao descricao-primary">Cadastre-se com email e senha</p>
               
                <a href="/cadastro_localizacao"><button id="voltar" class="btn btn-primeira">Voltar</button></a>
               
 
            </section><!--Fim do Conteúdo colorido-->
 
 
           
            <section class="second-column"><!--Coluna da direita com o cadastro-->
 
               
 
                <h2 class="title title-second">Crie sua conta</h2><!--TÍTULO-->
                <p class="descricao descricao-second">Preencha com suas informações</p><!--DESCRIÇÃO-->
 
               
                <!--fORMULÁRIO DE CADASTRO-->
                <form class="form form-address" method="post" action="/cadastro_dados_validacao">
 
                    <section class="emailput"><!--o CAMPO EMAIL PRECISA FICAR NA PÁGINA TODA, UM EMBAIXO DO OUTRO--CLASE EMAILPUT CSS3-->
 
                        <label class="label-input " for="email">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="Email" name="email" id="emaild" value="<%= valores.email %>" class="<%= erroValidacao.email %>"  required>
                            <section class="spanerroE"><%= msgErro.email %></section>
                        </label >
 
                    </section>
 
                    <section class="emailput"><!--o CAMPO EMAIL PRECISA FICAR NA PÁGINA TODA, UM EMBAIXO DO OUTRO--CLASE EMAILPUT CSS3-->
 
                        <label class="label-input " for="repemail">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="Confirme seu e-mail" name="repemail" id="repemaild"  value="<%= valores.repemail %>" class="<%= erroValidacao.repemail %>"  required>
                            <section class="spanerroCE"><%= msgErro.repemail %></section>  
                        </label >
 
                    </section>
 
 
                    <section class="row"><!--campos de senha ficam na mesma section para criar um grid e deixar um do lado do outro cad_column.css-->
                        <label class="label-input senha" for="senha">
 
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Senha" name="senha" id="senhad" value="<%= valores.senha %>" class="<%= erroValidacao.senha %>"  required>
                            <section class="spanerroD"><%= msgErro.senha %></section>  
 
                        </label >
 
 
                        <label class="label-input" for="repsenha">
 
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Confirme sua senha" name="repsenha" id="repsenhad" value="<%= valores.repsenha %>" class="<%= erroValidacao.repsenha %>"  required>
                            <section class="spanerroCS"><%= msgErro.repsenha %></section>
 
                        </label >
 
                    </section>

                    <section class="indicador">
                            <section class="icon-text">
                                <i class="fas fa-exclamation-circle error_icon"></i>
                                <h6 class="text" id="mensagem">Senha fraca</h6><br><br>
                                
                            </section>
                            
                            
                    </section><br>
 
                    <!--Botão de envio do form typo submit-->
                    <button type="submit" class="btn btn-segunda">Cadastrar</button>
 
                 </form>
 
            </section><!--Fim da coluna da direita CADASTRO-->
 
 
 
 
        </section>
    </section>
 
 
  <script src="js/senha_forte.js"></script>
      
   
</body>
</html>