<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cadastroAuxiliar.css">
    <link rel="stylesheet" href="/css/cadastroDA.css">
    <script src="js/validacao-login.js"></script>
    <script src="js/confirmasenha.js"></script>
    <title> InovaCare </title>
</head>
<body class="Singup">
    <%
    let  erroValidacao =  {"email":"", "senha":"", "repsenha":"", "repemail":""};
    let  msgErro =  {"email":"", "senha":"","repsenha":"", "repemail":""};
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErro.email = erro.msg
            }
            if (erro.path == "senha") {
                erroValidacao.senha = "erro",
                msgErro.senha = erro.msg
            }
            if (erro.path == "repsenha") {
                erroValidacao.repsenha = "erro",
                msgErro.repsenha = erro.msg
            }
            if (erro.path == "repemail") {
                erroValidacao.repemail = "erro",
                msgErro.repemail = erro.msg
            }
        })
    }; %>

    <section class="voltar">
        <a href="/cadastro_localizacao">
            <img class="botao-voltar" src="imagens/seta-esquerda.png" alt="" srcset="">
        </a>
    </section>

    <form id="loginForm" class="loginForm" method="post" action="/cadastro_dados_validacao">

    <section class="retang-3"></section>
    <header class="bem-vindo1"> Crie sua conta</header>

    <main class="faca-login1"> Preencha com suas informações </main>

    <img src="/imagens/fundo-singup.jpg" class="fundo-singup">
    <img src="/imagens/logo-singup.png" class="logo-singup">

        <label for="email" class="Email">Insira seu E-mail</label>
            <input type="email" id="emaild" placeholder="E-mail" class="emaild" name="email" value="<%= valores.email %>" class="<%= erroValidacao.email %>" required>
            <section class="spanerroE"><%= msgErro.email %></section>

        <label for="repemail" class="repEmail">Confirme seu E-mail</label>
            <input type="email" id="repemaild" placeholder="Confirme seu E-mail" class="repemaild" name="repemail" value="<%= valores.repemail %>" class="<%= erroValidacao.repemail %>" required>
            <section class="spanerroCE"><%= msgErro.repemail %></section>

        <label for="senha" class="Senhaa">Insira sua senha</label>
            <input type="password" id="senhad" placeholder="Senha (Ex: Mn12345@)" class="senhad <%= erroValidacao.senha %>" name="senha" value="<%= valores.senha %>" minlength="8" maxlength="16" required>
            <section class="spanerroD"><%= msgErro.senha %></section>

        <label for="repsenha" class="repSenha">Confirme sua senha</label>
            <input type="password" id="repsenhad" placeholder="Confirme sua senha" class="repsenhad <%= erroValidacao.repsenha %>" name="repsenha" value="<%= valores.repsenha %>" minlength="8" maxlength="16" required>
            <section class="spanerroCS"><%= msgErro.repsenha %></section>
            <p id="mensagem"></p>



    <input type="submit" class="Entrar" id="enviar_login" value="Avançar ➜" >

</form>
<p class="msg-cadastre"><a class="cadastre1" href="/cadast1">Sou Profissional</a></p>

<p class="msg-singup">A InovaCare é uma plataforma que oferece atendimento médico e terapêutico
    através das modalidades do atendimento online e domiciliar.
</p>
</body>
</html>
