<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo3.css">
    <script src="js/cadastro.js"></script>
    <script src="https://kit.fontawesome.com/db9bc09a1d.js" crossorigin="anonymous"></script>
   
    <title>Cadastro0 2</title>
</head>
<body>
 
    <!--EJS para mensagens de erro-->
    <%
    var cssErro = {"nome":"","cpf":"", "data":""}  
    var msgErro = {"nome":"","cpf":"", "data":""}
    if(erros) {
 
    erros.errors.forEach(function(itemErro){
        if (itemErro.path  == "nome"){
            cssErro.nome = "erro";
            msgErro.nome = itemErro.msg;
        }  
        if (itemErro.path  == "cpf"){
            cssErro.cpf = "erro";
            msgErro.cpf = itemErro.msg;                
        }  
        if (itemErro.path  == "data"){
            cssErro.data = "erro";
            msgErro.data = itemErro.msg;                
        }
    });
    }; %>
    <!--Fim do EJS-->
 
    <section class="container"><!--Container geral -->
 
 
        <section class="content first-content"> <!--Primeiro container- aparição inical para login-->
 
            <section class="first-column"><!--Primeira coluna - Coluna da esquerda-->
                <h2 class="title title-primary">Bem-Vindo <br> a Inovacare!</h2>
                <p class="descricao descricao-primary">Realize o login para continuar</p>
                <button id="entrar" class="btn btn-primeira">Entrar</button>
               
 
            </section><!--Conteúdo colorido-->
 
 
            <!--Editar os links para ficar dentro do HREF-->
            <section class="second-column"><!--Coluna da direita com o cadastro-->
 
                <section class="alinha">
                    <a href="home.html" class="back-arrow">
                        <i class="fas fa-arrow-left"></i>
                       
                    </a>
                   
                    <!-- Conteúdo -->
                </section>
 
                <h2 class="title title-second">Crie sua conta</h2>
 
               
 
                <p class="descricao descricao-second">Preencha com suas informações</p>
 
                <form class="form" method="post" action="/cadastro_inicial_validacao">
 
                    <label class="label-input" for="nome">
                        <i class="fa-regular fa-user icon-modify"></i>
                        <input type="text" id="nomed" placeholder="Nome completo"  name="nome"  value="<%= valores.nome %>" class="<%= cssErro.nome %>" required>
                        <section class="spanerroNO"><%= msgErro.nome %></section>
                    </label >
 
                    <label class="label-input" for="cpf">
                        <i class="fa-regular fa-id-card icon-modify"></i>
                        <input type="text" id="cpf" placeholder="CPF" name="cpf" maxlenght= "11" value="<%= valores.cpf %>" class="<%= cssErro.cpf %>"  required>
                        <section class="spanerroC"><%= msgErro.cpf %></section>
 
                    </label >
 
                    <section class="date-container">
 
                       <p class="date-label">Data de Nascimento:</p>
                       <label class="label-input" for="dataid">
                            <i class="fa-regular fa-calendar icon-modify"></i>
                            <input type="date" id="data" name="data" value="<%= valores.data %>" class="<%= cssErro.data %>"  required>
                            <section class="spanerroD"><%= msgErro.data %></section>
                       </label>
 
                    </section>
 
 
                     <button type="submit" class="btn btn-segunda">Avançar</button>
 
                   
 
 
                </form>
 
            </section><!--Fim da coluna da direita CADASTRO-->
 
 
 
 
        </section>
 
 
 
 
        <section class="content second-content"><!--Segundo container --- Login aberto-->
 
       
 
            <section class="first-column">
                <h2 class="title title-primary">Olá, amigo!</h2>
                <p class="descricao  descricao-primary">Ainda não tem conta na Inovacare?</p>
                <p class="descricao descricao-primary"> Cadastre-se agora mesmo</p>
 
                <input type="submit" id="cad" class="btn btn-primeira" value="Cadastrar" >
 
 
                               
            </section><!--Conteúdo colorido-->
 
 
 
            <section class="second-column"><!--Coluna da direita com o cadastro-->
 
                <section class="alinha">
                    <a href="home.html" class="back-arrow">
                        <i class="fas fa-arrow-left"></i>
                       
                    </a>
                   
                    <!-- Conteúdo -->
                </section>
 
               
               
                <h2 class="title title-second">Efetuar login</h2>
 
 
                <section class="social-media">
                    <ul class="lista social-media">
                       <!--Face--> <li class="item-social-media"><i class="fa-brands fa-facebook-f"></i><a href></a></li>
                        <!--Google--><li class="item-social-media"><i class="fa-brands fa-google"></i><a href></a></li>
                        <!--<li>Linkedin<a href>#</a></li>-->
                    </ul>
                </section>
 
 
                <p class="descricao descricao-second">Faça login com o e-mail e senha</p>
 
                <form class="form" action="">
 
                    <label class="label-input" for="">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email" name="email" id="emailid"  required>
 
 
                    </label>
 
                    <label class="label-input"  for="">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Senha" name="senha" id="senhaid" required>
 
                    </label>
 
                    <a class="password" href="#">Esqueceu sua senha?</a>
 
                    <button type="submit" class="btn btn-segunda">Entrar</button>
 
                 
 
 
                </form>
 
            </section><!--Conteúdo dos campos-->
 
 
 
 
        </section>
 
       
    </section>
   
</body>

</html>