<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imagens/logo-bblt.png" sizes="any">
    <title> InovaCare</title>

    <!--Link dos ícones da barra de navegação-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--link do arquivo css-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cg.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/filtro.css">


    <!--link do arquivo js-->
    <script src="/js/barra_nav.js"></script>
    <!-- link do js -->
    <!--link do arquivo js-->
    <script src="/js/filtro.js"></script>
    <!-- link do js -->

    <!--link do js do carrossel 2 - redondo-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.css'>

</head>

<body>

    <header>
        <!--barra de navegação-->
        <nav class="menu-desktop">

            <!--Espaço para a logo-->
            <section class="menu-logo">
                <a href="/homepaciente.html">
                    <img class="logo logo-desktop" src="/imagens/logo-bblt.png" alt="Logo InovaCare">
                    <img class="logo logo-tablet" src="/imagens/logo-extenso.png" alt="Logo InovaCare">
                    <img class="logo logo-mobile" src="/imagens/logo-borboleta.png" alt="Logo InovaCare">
                </a>
            </section>

            <!--Botão de pesquisa-->
            <ul class="menu-list">
                <li class="dropdown">
                    <a class="sobre" href="#">Sobre</a>
                    <section class="dropdown-content">
                        <a href="#">Quem somos</a>
                        <a href="#">Contato</a>
                        <a href="#">FAQ</a>
                    </section>
                </li>
                <li><a class="agendamento" href="/">Agendamento</a></li>
                <li><a class="consultas" href="/">Área de Consultas</a></li>
            </ul>


            <ul class="menu-list-direita">
                <article class="icon-lupa"><i class="bi bi-search"></i></article>
                <article class="texto-icon"><!--pesquisa--></article>
                <article class="icon-perfil"><i class="bi bi-person-circle"></i></article>
                <article class="texto-icon"><!--perfil--></article>
            </ul>

        </nav>

        <nav class="mobile-menu">
            <section class="menu-logo">
                <a href="/index.ejs">
                    <img class="logo logo-desktop" src="/imagens/logo-bblt.png" alt="Logo InovaCare">
                    <img class="logo logo-tablet" src="/imagens/logo-extenso.png" alt="Logo InovaCare">
                    <img class="logo logo-mobile" src="/imagens/logo-borboleta.png" alt="Logo InovaCare">
                </a>
            </section>

            <ul class="menu-actions">
                <li><button class="icon-lupa" aria-label="Pesquisar"><i class="bi bi-search"></i></button></li>
                <li><button class="icon-perfil" aria-label="Perfil"><i class="bi bi-person-circle"></i></button></li>
                <li><button class="hamburguer" onclick="toggleMenu()" aria-label="Menu"></button></li>
            </ul>

            <!-- Menu suspenso do hambúrguer -->
            <ul id="hamburger-menu" class="hamburger-menu-content">
                <li class="dropdown">
                    <a href="#">Sobre</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="/">Agendamento</a></li>
                <li><a href="/">Área de Consultas</a></li>
            </ul>
        </nav>

        <script>
            function toggleMenu() {
                const menu = document.getElementById("hamburger-menu");
                menu.style.display = menu.style.display === "block" ? "none" : "block";
            }
        </script>


        <!--barra de navegação - fim ^^^ -->
    </header>

    <main style="height: 100%;">

        

    <section class="voltar">
        <a href="/especialidades">
            <img class="botao-voltar" src="/imagens/seta-esquerda.png" alt="" srcset="">
        </a>
    </section>


    <section class="ttl-cg">
        <section class="txt-cg">
            <h3>Clínico Geral</h3>
        </section>
    </section>

    <!-- TODOS OS FILTROS EM UMA LINHA -->
    <form action="filtro-medicos" method="post">

        <section id="container-medicos">

            <input type="hidden" value="1" name="especialidade">

            <select id="filtro-modalidade" class="select-filtro" name="modalidade">
                <option value="" disabled="" selected="" hidden="">Selecione a modalidade</option>
                <option value="1">Online</option>
                <option value="2">Domiciliar</option>
            </select>

            <input type="text" id="filtro-nome" class="input-filtro" placeholder=" Buscar por nome..." name="nomeProf">

            <select id="filtro-localizacao" class="select-filtro" name="local">
                <option value="" disabled="" selected="" hidden="">Selecione uma localização</option>
                <option value="São Paulo">São Paulo</option>
                <option value="Barueri">Barueri</option>
                <option value="Guarulhos">Guarulhos</option>
                <option value="Osasco">Osasco</option>
                <option value="Santo André">Santo André</option>
                <option value="São Bernardo do Campo">São Bernardo do Campo</option>
                <option value="Diadema">Diadema</option>
                <option value="Mauá">Mauá</option>
                <option value="Carapicuíba">Carapicuíba</option>
                <option value="Suzano">Suzano</option>
                <option value="Mogi das Cruzes">Mogi das Cruzes</option>
                <option value="Itaquaquecetuba">Itaquaquecetuba</option>
                <option value="Taboão da Serra">Taboão da Serra</option>
                <option value="Cotia">Cotia</option>
                <option value="Embu das Artes">Embu das Artes</option>
                <option value="Ferraz de Vasconcelos">Ferraz de Vasconcelos</option>
                <option value="Ribeirão Pires">Ribeirão Pires</option>
                <option value="Rio Grande da Serra">Rio Grande da Serra</option>
                <option value="Caieiras">Caieiras</option>
                <option value="Franco da Rocha">Franco da Rocha</option>
                <option value="Francisco Morato">Francisco Morato</option>
                <option value="Itapevi">Itapevi</option>
                <option value="Jandira">Jandira</option>
                <option value="Santana de Parnaíba">Santana de Parnaíba</option>
                <option value="Embu-Guaçu">Embu-Guaçu</option>
                <option value="Vargem Grande Paulista">Vargem Grande Paulista</option>
                <option value="Poá">Poá</option>
                <option value="Arujá">Arujá</option>
                <option value="Biritiba Mirim">Biritiba Mirim</option>
                <option value="Salesópolis">Salesópolis</option>
            </select>
            <button type="submit" id="btn-limpar-filtros" class="btn-limpar">Buscar</button>
        </section>
    </form>

    

    <section class="perfis">



        <section class="retangulo">

            <% if (medicos && medicos.data && medicos.data.length> 0) { %>

                <% medicos.data.forEach((medico)=> { %>

                    <section class="small-rectangle" id="smallRectangle">

                        <img src="/imagens/perfil.png" alt="Imagem" class="perfil1">

                        <section class="infos">

                            <section class="btn-mod">
                                <a>
                                <button 
                                    class="btn" 
                                    name="button"
                                    onclick="window.location='/agenda-online?tipo_atendimento=1&id_especialista=<%= medico.id_especialista %>'">
                                    Agendar online
                                </button>
                                </a>

                                <a>
                                <button 
                                    class="btn-domiciliar" 
                                    name="button"
                                    onclick="window.location='/agenda-domiciliar?tipo_atendimento=2&id_especialista=<%= medico.id_especialista %>'">
                                    Agendar domiciliar
                                </button>
                                </a>
                            </section>

                            <section class="medico-info">
                                <a href="/perfildoprof">
                                <p class="nome">
                                    <%= medico.nome_usuario %>
                                </p>
                                </a>
                                <p class="idnt">
                                    <%= medico.num_registro_especialista %>
                                </p>
                                
                                <p class="nota">4,9 <img src="/imagens/star-l.png" alt="Estrela" class="nota-img"></p>
                                
                            </section>

                            <section class="localidades">
                                <h1 class="titulo-localidades">Regiões de atendimento em domicílio:</h1>
                                <ul>
                                    <li>
                                        <%= medico.cidade_local %>
                                    </li>
                                </ul>
                            </section>

                            <section class="atendimentos-precos">
                                <p class="titulo-atendimentos">Atendimentos</p>
                                <p class="item-preco">Online: <span class="valor-preco">R$ <%= medico.preco_base %>
                                    </span></p>
                                <p class="item-preco">Domiciliar: <span class="valor-preco">R$ <%= medico.taxa_locomocao
                                            %></span></p>
                            </section>

                        </section>

                        <section class="tabela-tablet"></section>

                    </section>

                    <% }) %>

                        <% } else { %>

                            <p>Nenhum médico encontrado.</p>

                            <% } %>

        </section>


        </main>
        <footer class="footer">

            <section class="footer-logo">
                <img class="footer-logo-desktop" src="imagens/logo-bblt.png" alt="Logo da Empresa">
                <img class="footer-logo-mobile" src="imagens/logo-extenso.png" alt="Logo da Empresa">
                <p class="footer-comentario">Oferecemos atendimento médico e terapêutico através das modalidades do
                    atendimento online e domiciliar. Nosso objetivo é promover o acesso aos mais diversos serviços de
                    saúde.
                </p>
            </section>

            <section class="footer-links">
                <h3 class="ttl-links">Explorar</h3>
                <ul class="links">
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/especialidades">Especialidades</a></li>
                    <li><a href="/consultas">Consultas</a></li>
                </ul>
            </section>

            <section class="footer-contato">
                <h3 class="ttl-contato">Contato</h3>
                <p class="nmr-contato">(11) 4002-8922</p>
            </section>

        </footer>
    </section>




</body>

</html>