<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/singup.css">
    <script src="js/validacao-login.js"></script>
    <title> InovaCare </title>
</head>
<body class="Singup">
  <%
    let  erroValidacao =  {"email":"", "senha":"" };
    let  msgErro =  {"email":"", "senha":"" };
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErro.email = erro.msg
            }
            if (erro.path == "senha") {
                erroValidacao.senha = "erro",
                msgErro.senha = erro.msg
            }
        })
    }; %>
    <section class="voltar">
      <a href="/">
          <img class="botao-voltar" src="imagens/seta-esquerda.png" alt="" srcset="">
      </a>
  </section>
  <form id="loginForm" class="loginForm" method="post" action="/singup_post">

    <div class="retang-1"></div>
    <header class="bem-vindo"> Bem Vindo</header>

    <main class="faca-login"> Faça seu login para continuar </main>

    <img src="/imagens/fundo-singup.jpg" class="fundo-singup">
    <img src="/imagens/logo-singup.png" class="logo-singup">

<label class="E-mail">Insira seu E-mail</label>
    <input type="email" placeholder="Email" name="email" id="email" class="emaild" value="<%= valores.email  %>" class="<%= erroValidacao.email %>" required> 
      <span class="spanerro"><%= msgErro.email %></span>
      <!-- <span id="emailError" class="error"><%= msgErro.email %></span>
      <div id="emailError" class="error-message"></div> -->


    <label class="Senha">Insira sua Senha</label>
    <input type="password" placeholder="Senha" name="senha" id="senha" class="password" minlength="8" value="<%= valores.senha  %>" class="<%= erroValidacao.senha %>" minlength="8" maxlength="16" required>
      <span class="spanerroS"><%= msgErro.senha %></span>
      <!-- <span id="passwordError" class="error"></span>
      <div id="passwordError" class="error-message"></div>  -->

    <input type="submit" class="Entrar" id="Entrar" value="Entrar" >

  </form>
<p class="msg-cadastre">Não tem uma conta? <a class="cadastre" href="/cadastro_inicial">Cadastre-se</a></p>

<p class="msg-singup">A InovaCare é uma plataforma que oferece atendimento médico e terapêutico
    através das modalidades do atendimento online e domiciliar.
</p>
</body>
</html>
